h2 {
  font-family: "Brandon Grotesque", sans-serif;
  color: rgb(236 93 87);
}

.container {
  text-align: center;
}

.brandon-font {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 600;
}

.atlas-font {
  font-family: AtlasGrotesk, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.input-box {
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 34rem;
  height: 3rem;
  margin: 0.25rem 0 1rem;
  padding: 10px;
}

.select-box {
  background-color: rgb(243 243 243);
  border: 2px solid lightgrey;
  border-radius: 5px;
  width: 34rem;
  height: 3rem;
  margin: 0.25rem 0 1rem;
}

.submit-btn {
  border: none;
  border-radius: 34px;
  background-color: rgb(236 93 87);
  color: white;
  font-size: 20px;
  width: 8rem;
  height: 2.75rem;
}

.input-box::placeholder {
  color: rgb(209 209 209 / 78.8%);
}

.padding-email {
  padding-right: 24.5rem;
}

.padding-name {
  padding-right: 29.625rem;
}

.padding-where {
  padding-right: 20.313rem;
}

.padding-select {
  padding-right: 1.75rem;
}

.submit-padding {
  padding-left: 25.938rem;
}
