.hover {
  padding: 10px 35px;
  font-size: 24px;
}

.hover:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
