#accuracy {
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.typing-text {
  font-size: 4rem;
  color: rgb(0 0 0 / 30%);
  display: flex;
  font-family: "Roboto Slab", serif;
}

.space {
  height: 84.44px;
  width: 20px;
  display: inline-block;
}

.active {
  border-bottom: 6px solid black;
}

.accuracy-position {
  position: absolute;
  left: 49rem;
  bottom: 15rem;
}

.accuracy-text {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
}

.text-center {
  text-align: center;
}

.reset-position {
  position: absolute;
  left: 48rem;
  bottom: 10rem;
}

.reset-btn {
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #404087;

  .correct {
    color: lime;
  }

  .incorrect {
    color: red;
  }
}
